<html>
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pet Wash Groom</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet"  href="/css/style1.css">
    </head>
  

<body>
    <header class="header---main">
        <div class="container--header">
            <div class="header__inner--main">
                <div class="header__logo">YCloud Service</div>
                <nav class="nav">
                    <a class="nav_link" href="/auth/login">login</a>
                </nav>
            </div>
        </div>
    </header>
    <div class="main">
    <table width="100%" cellspacing="0" cellpadding="0">
        <tr> 
            <td align="left">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2573.694377908482!2d24.0152128!3d49.8294091!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add7d39d1de7d%3A0x6371b9522beb3e22!2z0JPRg9GA0YLQvtC20LjRgtC-0LogOSDQndCjICLQm9GM0LLRltCy0YHRjNC60LAg0L_QvtC70ZbRgtC10YXQvdGW0LrQsCI!5e0!3m2!1suk!2sua!4v1622656663592!5m2!1suk!2sua"
                 width="300px" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </td>
        <td>
        
        <section>          

            
            <div class="container">
                <a href="Gallery.html" target="_blank"><img src="/images/server1.jpg" alt="" ></a>
                <a href="Gallery.html" target="_blank"><img src="/images/server2.jpg" alt=""></a>
                <a href="Gallery.html" target="_blank"><img src="/images/server3.jpg" alt=""></a>
                <a href="Gallery.html" target="_blank"><img src="/images/server4.jpg" alt=""></a>
            </div>

            <div class="container">
                <a href="Gallery.html" target="_blank"><img src="/images/server5.jpg" alt="" ></a>
                <a href="Gallery.html" target="_blank"><img src="/images/server6.jpg" alt=""></a>
                <a href="Gallery.html" target="_blank"><img src="/images/server7.jpg" alt=""></a>
                <a href="Gallery.html" target="_blank"><img src="/images/server8.jpg" alt=""></a>
            </div>

            <p class="text">Get the best level of treatment from YCloud</p>
        </section>
        </td>
    </tr>
    </table>



    </div>
    <table width="100%" cellspacing="0" cellpadding="0" class="table_style">
        <tr>
            <td>
                <h3>SERVICES</h3>
                <a class="td_style" href="Pricing.html">Migration to the cloud</a></br>
                <a class="td_style"href="Pricing.html">Computing capabilities for end users</a></br>
                <a class="td_style" href="Pricing.html">Database migration</a></br>
                <a class="td_style" href="Pricing.html">Peripheral calculations</a>
            </td>

            <td>
                <h3>CONTACT US</h3>
                <p><a class="td_style" href="https://web.telegram.org/#/login"> +380-97-507-59-33</a></br>
                    </br>
                    <a class="td_style" href="https://www.google.com/intl/ru/gmail/about/"> kyrylo@gmail.com</a>
                    </br>
                    </br></br>

                </p>

            </td>
            <td>
                <h3>SOCIAL</h3>
                <p><img src="/images/instagram.png" alt="instagram" height="30"><a class="td_style" href="https://www.instagram.com/" >Instagram</a></br>
                    <img src="/images/facebook.png" alt="Фото" height="30"><a class="td_style" href="https://uk-ua.facebook.com/">Facebook</a></br>
                    <img src="/images/twitter.PNG" alt="Фото" height="30"><a class="td_style" href="https://twitter.com/?lang=uk">Twitter&nbsp;&nbsp;&nbsp;&nbsp;</a></br>
                </p>
            </td>
        </tr>
    </table>
    <footer class="footer">
        <p>&copy; YCloud Service | All rights reserved</p>
    </footer>
</body>
</html>
        

